{% extends 'index.html' %}
{% block modal %}
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Información</h1>
        </div>
        <div class="modal-body" class=flashes>
          {{contrato}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function(){
        console.log("Windows is loaded")
        $("#staticBackdrop").modal("show")
    })
</script>
{% endblock %}
